@media (min-width: 375px) {
  flex-wrap: column wrap;
}

  
  .container {
    margin: 18em;
    border: 1px solid grey;
    border-radius: 1rem;
    box-shadow: 5px 10px #c2c1c1;
    display: flex;
    flex-wrap: wrap;
  }
  body {
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla", sans-serif;
  }
  h1 {
    color: hsl(179, 62%, 43%);
  }
  h2 {
    color: white;
    margin-left: 3rem;
  }
  ul {
    list-style: none;
    color: white;
  }

  p {
    color: white;
    margin-left: 3rem;
  }
}
.box1,
.box2,
.box3 {
  padding: 0;
  margin: 0;
}
.box1 {
  background-color: white;
  /*width: 50%;*/
}
.box2 {
  background-color: hsl(179, 62%, 43%);
  /*width: 50%;*/
  padding: 0;
  justify-content: left;
  flex-basis: 50%;
}
.box3 {
  background-color: hsl(179, 37%, 55%);
  justify-content: right;
  flex-basis: 50%;
  /*width: 38%;*/
}
button {
  color: white;
  background-color: hsl(71, 73%, 54%);
  border-style: none;
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
}
button:hover {
  background-color: white;
  color: hsl(71, 73%, 54%);
}
#greyp {
  color: hsl(218, 22%, 67%);
}
#limep {
  color: hsl(71, 73%, 54%);
}
#dollar {
  font-size: 3rem;
  color: aliceblue;
}
#light {
  color: rgb(218, 216, 216);
}
